@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@200;400;600&display=swap");

:root {
  --display: "Dancing Script", cursive;
  --text: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--text);
}
