@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@200;400;600&display=swap");

:root {
  --display: "Dancing Script", cursive;
  --text: "Raleway", sans-serif;

  --black: #1e0f0d;
  --white: #faf7f7;
  --red-light: #da6464;
  --jap-maple: #760000;

  --space-small: 0.75em;
  --space-medium: 1.5em;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text);
}
